In [7]:
from collections import Counter
from imblearn.over_sampling import SMOTE
from imblearn.under_sampling import RandomUnderSampler
import pandas

df=pandas.read_csv("Credit Card Default II.csv")
print(df)
df = df.dropna()

      clientid       income        age         loan  default
0            1  66155.92510  59.017015  8106.532131        0
1            2  34415.15397  48.117153  6564.745018        0
2            3  57317.17006  63.108049  8020.953296        0
3            4  42709.53420  45.751972  6103.642260        0
4            5  66952.68885  18.584336  8770.099235        1
...        ...          ...        ...          ...      ...
1995      1996  59221.04487  48.518179  1926.729397        0
1996      1997  69516.12757  23.162104  3503.176156        0
1997      1998  44311.44926  28.017167  5522.786693        1
1998      1999  43756.05660  63.971796  1622.722598        0
1999      2000  69436.57955  56.152617  7378.833599        0

[2000 rows x 5 columns]

In [8]:
Counter(df["default"])

Counter({0: 1714, 1: 283})

In [9]:
#df = df.replace(("Yes", "No"), (1,0))
X=df
X=df.drop("default", axis=1)
X=X.drop("clientid", axis=1)
print(X)
y=df.loc[:, "default"]
print(y)
counter = Counter(y)
print(counter)

           income        age         loan
0     66155.92510  59.017015  8106.532131
1     34415.15397  48.117153  6564.745018
2     57317.17006  63.108049  8020.953296
3     42709.53420  45.751972  6103.642260
4     66952.68885  18.584336  8770.099235
...           ...        ...          ...
1995  59221.04487  48.518179  1926.729397
1996  69516.12757  23.162104  3503.176156
1997  44311.44926  28.017167  5522.786693
1998  43756.05660  63.971796  1622.722598
1999  69436.57955  56.152617  7378.833599

[1997 rows x 3 columns]
0       0
1       0
2       0
3       0
4       1
       ..
1995    0
1996    0
1997    1
1998    0
1999    0
Name: default, Length: 1997, dtype: int64
Counter({0: 1714, 1: 283})

In [10]:
oversample = SMOTE()
X, y = oversample.fit_resample(X, y)
# summarize the new class distribution
counter = Counter(y)
print(counter)

df=pandas.concat([X, y], axis=1)
df.to_csv("Credit Card Default II (balance).csv", index=0)

Counter({0: 1714, 1: 1714})

In [12]:
print(df)

            income        age          loan  default
0     66155.925100  59.017015   8106.532131        0
1     34415.153970  48.117153   6564.745018        0
2     57317.170060  63.108049   8020.953296        0
3     42709.534200  45.751972   6103.642260        0
4     66952.688850  18.584336   8770.099235        1
...            ...        ...           ...      ...
3423  60903.191726  21.933924  10367.081892        1
3424  62235.644695  25.033016   8083.900063        1
3425  25597.850590  26.350344   3810.110335        1
3426  48164.194974  23.141976   6529.652892        1
3427  33055.808635  26.289612   5351.851138        1

[3428 rows x 4 columns]